div {
    font-family: Helvetica;
    color: Red;
    padding: 5px;
}

#big_div{
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 25px;
}


#logo {
    width:35px;
    height:35px;
    
}
.items:hover{
    color:white;
    

}
.text:hover{
    color: white;
}
a{
    width: 20%;
    text-align: center;
    text-decoration:none;
}
#text{
    background-color: #fbfbfd;;
    height: 760px;
    font-size: 32px;
}
h1{
    display: flex;
    justify-content: center;
    color: black;
    
}
h2{
    display: flex;
    justify-content: space-evenly;
    font-weight: unset;
    color:black;
}

h3{
    display: flex;
    justify-content: space-evenly;
    color: black;
    font-size: 29px;
}
p{
    color: black;
    font-size:25px;
    justify-content: space-evenly;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:auto;
}
.smash{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.usa{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: auto;
}
.aboutme{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
}
